$white: #FFFFFF;
$light-gray: #D9D9D9;
$dark-gray: #818181;
$black: #000000;
$accent: #3AD29D;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-column {
  display: flex;
  flex-direction: column
}

.small-text{
  font: {
    family: Roboto;
    size: 12px;
    style: normal;
    weight: 400;
  }
  color: $dark-gray;
  line-height: normal;
}

.normal-text{
  font: {
    family: Roboto;
    size: 14px;
    style: normal;
    weight: 400;
  }
  line-height: normal;
}

.heading-text{
  font: {
    family: Roboto;
    size: 17px;
    style: normal;
    weight: 700;
  }
  line-height: normal;
  text-transform: uppercase;

  @media(max-width: 500px){
    font-size: 16px;
  }
}

.green-text{ 
  color: $accent;
}

.page-container{
  @extend %flex-column;
  padding: 20px 0 40px 0;
  width: 1400px;
  margin: 0 auto;
  gap: 20px;

  @media (max-width: 1400px) {
    width: 100%;
    padding: 20px;
  }
}

.task-container{
  @extend %flex-column;
  border-radius: 10px;
  border: 1px solid $light-gray;
  gap: 15px;
  padding: 10px 20px;
  width: 400px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  height: fit-content;

  @media(min-width: 768px){
    &:hover{
      border: 1px solid #87FDD3;
    }
  }

  &.active{
    box-shadow: 0 0 10px 0px #87FDD3;
    border: 1px solid white
  }

  @media (max-width: 768px) {
    width: 100%;
    -webkit-tap-highlight-color: transparent;
  }
}

.tasks-grid{
  @extend %flex-column;
  gap: 30px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.tasks-group{
  @extend %flex-column;
  gap: 10px;

  @media (max-width: 768px) {

  }
}

.tasks-list{
  @extend %flex-row;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: 768px) {
    
  }
}

.buttons-pannel{
  width: 50px;
  position: relative;
  flex-shrink: 0;

  @media (max-width: 500px) {
    position: fixed;
    width: calc(100% - 40px);
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
    height: 80px;
    bottom: 10px;
  }
}

.buttons-list{
  @extend %flex-column;
  gap: 10px;
  width: fit-content;
  position: fixed;

  @media (max-width: 500px) {
    flex-direction: row;
  }
}

.horizontal-container{
  @extend %flex-row;
  justify-content: space-between;

  @media (max-width: 768px) {
    gap: 20px;
    width: 100%;
  }
}

.modal-container{
  @extend %flex-column;
  gap: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
  width: 500px;
  padding: 15px 20px;
  border-radius: 0 0 20px 20px;
  justify-self: center;
  position: absolute;
  background-color: $white;
  top: -100%;
  transition: top 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &.active {
    top: 0;
  }

  @media(max-width: 550px){
    width: calc(100% - 40px);
  }
}

.exception-container{
  @extend %flex-column;
  gap: 20px;
  position: absolute;
  top: 20%;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
  background-color: $white;
  padding: 15px 20px;
  justify-self: center;
  border-radius: 15px;
  width: 400px;
  & .buttons-container{
    @extend %flex-row;
    gap: 10px;
    align-self: end;
  }
  & Button{
    width: 70px;
  }

  @media (max-width: 768px) {
    top: 30%;
  }

  @media (max-width: 500px) {
    width: calc(100% - 40px);
  }
}