.button{
  background-color: white;
  color: black;
  transition: 0.3s;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  width: 100%;
}

.primary{
  color: white;
  border: 1px solid #3AD29D;
  background-color: #3AD29D;  
}
.danger{
  color: white;
  border: 1px solid #F03333;
  background-color: #F03333; 
}

@media(min-width: 768px){
  
  .button:hover{
    box-shadow: 0 0 10px 0px #87FDD3;
    border: 1px solid white;
    outline: none;
  }
  
  .danger:hover{
    box-shadow: 0 0 10px 0px #fc6464;
    border: 1px solid #F03333;
    outline: none;
  }
  
  .primary:hover{
    box-shadow: 0 0 10px 0px #87FDD3;
    border: 1px solid #3AD29D;
    outline: none;
  }
}
